# Python bytecode
*.pyc
__pycache__/

# Environments
.env
.env.*
!.env.example

# Database
*.db

# Node dependencies
node_modules/

# Next.js build output
.next/
out/

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db
